RewriteEngine On

RewriteRule ^beranda.html$ index.php?page=home [L]
RewriteRule ^form-pendaftaran.html$ index.php?page=form-pendaftaran [L]
RewriteRule ^edit-pendaftaran.html$ index.php?page=edit-pendaftaran [L]
RewriteRule ^cek-status.html$ index.php?page=cek-status [L]
RewriteRule ^peringkat.html$ index.php?page=peringkat [L]
RewriteRule ^beranda-admin.html$ admin.php?page=beranda-admin [L]
RewriteRule ^cek-pendaftaran-admin.html$ admin.php?page=cek-pendaftaran-admin [L]
RewriteRule ^setelan-pendaftaran-admin.html$ admin.php?page=setelan-pendaftaran-admin [L]
RewriteRule ^([0-9]+)$ admin.php?&nisn=$1&page=edit-data-peserta [L]
RewriteRule ^informasi.html$ index.php?page=informasi [L]
